*{margin: 0px; padding: 0px;}
@font-face{
	font-family:'BebasNeue';
	src:url('../font/BebasNeue-Regular.woff') format('woff');
}

.highest{height:100px; width:100%; align: center; display: flex; align-items:center; justify-content:center; text-align: center;}
.highest.center-content1{width:1280px; display:flex; align-items:center; justify-content:space-between;}
.logo{width:401.5px;}
.logolink:hover{cursor:pointer;}

.item_box{height:75%; display:flex; justify-content:space-around; font-family:"BebasNeue"; align-items:flex-end; margin-right: 30px; font-size:20px;}
.upper_links{text-decoration:none; color:black; margin-left:50px;}
.upper_links pre{font-family:"BebasNeue";margin-left:50px; font-size:20px;}
#account, .account_info{display:none;}

.pic_container{width:100%; height:228px; display:flex; justify-content:center;}
.pic_container-center{width:100%; height:100%; overflow:hidden;}




.navbar{background-color:#F06824; display:flex; justify-content:center; line-height: 2.87; text-align:center;}
.nav{width:1280px; display: flex; justify-content:space-around; align-items:center;}
				
.nav > li{list-style-type:none; position:relative;}
.nav > li:hover > ul{display: block; position:absolute; width:200px; background:white; text-align:left; box-shadow:0px 0px 5px #686868; font-size: 14px;}
.nav > li > ul{display: none; list-style: none;}
.nav > li > ul > li{padding-left:10px; padding-right:5px; display:flex; justify-content:space-between; align-items:center;}
.nav.ul.first{right:-65px;}
.nav.ul.second{right:-85px;}
.nav.ul.third{right:-90px;}
.nav.ul.fourth{right:-65px;}
.nav.ul.fifth{right:-50px;}
.nav.ul.last{right:-65px;}

.nav li a{text-decoration:none;}
.navitem ~ ul a{color:#686868;}
.navitem ~ ul > li:hover{background:#F8E494;}

.navitem{font-family:"함초롬돋움"; color:white; font-weight:bold; font-size: 17px; text-decoration:none;}
.navitem:hover{color:#F3E02A; cursor: pointer;}
.lecture.btns{display:none;}



.tree_container{background-color:#f3c02d; width:100%; height:35px; display:flex; align-items:center; justify-content:center;}
.tree{width:1280px;}
.nodes{font-family:"함초롬돋움"; font-weight:bold; font-size:12px;}

.whole{width: 100%; display:flex; justify-content:center;}
.article_container{width:1280px;}
.article_main{width:840px; display:flex; justify-content:center; padding-top:70px; padding-bottom:40px; flex-direction:column; padding-right:220px; padding-left:220px;}
.depth_p{height:24px}
.depth_p.slim{height:5px}
.phrase{font-family:"함초롬돋움"; font-size:15px; margin:1em 0;}
.container{display:flex; justify-content:center; margin:12px 0;}
.titleh2Default{font-family:"BebasNeue"; font-weight:bolder; height:42.23px;}
.comments{width: 840px; padding-top:10px; margin:0 220px;}
.form_comment{display:flex; justify-content:space-between; padding-bottom:30px;}
.comment_list{width:100%;}


@media(max-width: 1280px){
	.highest{justify-content:flex-start;}
	.whole{width: 100%; display:flex; justify-content:flex-start;}
	
	#account{display:flex;}
	.account_info{display:flex;}
	.lecture.btns{display:flex;}
	.nav.ul.first{right:-120px;}
	.nav.ul.second{right:-90px;}
	.nav.ul.third{right:-95px;}
	.nav.ul.fourth{right:-70px;}
	.nav.ul.fifth{right:-50px;}
	.nav.ul.last{right:-10px;}
}
@media(max-width: 840px) {
	.article_main{padding-left: 0px;}
}
.page_wrapper{width:100%;display:flex;justify-content:space-between;}
.lecture_container{width:990px;}

.left_wing{width:290px;background-color:#F8E494; padding-left:0px;}
.lectures_container{padding-left:0px; margin-top: 0px;}
.lecture_list{list-style-type:none;}
.lecture_link{ font-family:"함초롬돋움"; font-size:11px; font-weight:bold; color:#686868; text-decoration:none;  display:flex; padding:10px 5px 10px 15px;}
.lecture_link:hover{background-color:#F3C02A; color:black; cursor:pointer;}
.lecture_title{font-family:"BebasNeue"; font-size:40px; font-weight:bolder; text-align:center; margin:0 0 15px 0;}
.lecture_date_shower{text-align:center; font-size:14px; color:#686868; padding-bottom:25px;}
.small_phrase{font-family:"함초롬돋움"; font-size:15px; margin-bottom:25px; margin-top:0px;}
.source_code{width:820px; overflow:scroll; border:5px solid #F8E494; padding:5px 5px 5px 5px;}
.dynamic_phrase{width:830px;  padding:5px 5px 5px 5px; white-space:pre-wrap; font-family:"함초롬돋움"; font-size:15px; margin:1em 0;}

.form_template{margin-left:70px; margin-right:70px; border:3px solid #F8E494;}
.form_container{margin-left:150px; margin-right:150px; display:flex; justify-content:center;}
.form_label{font-family:"BebasNeue"; font-weight:normal; font-size:20px;}
.form_input{background:#F8E494; width:100%; height:40px; border:none;}
.btn{height:39px; border-radius:10px; border:none; font-family:"BebasNeue"; font-size:19px; font-weight:normal;}
.btn:hover{cursor:pointer;}
.btn.btn_primary{background:#F06824; color:white;}

.form_container.arrange{display:flex; justify-content:space-between;}
.form_link{text-decoration:none; color:black; font-family:"BebasNeue"; font-size:17px; font-weight:normal;}
.slash{vertical-align:center; padding-top:8px;}

.lecturer{padding:5px 20px; display:flex; justify-content:flex-start; align-items:center;}
.lecturer_info{margin-left:25px; display:block;}
.lecturer_class{font-family:"함초롬돋움"; font-size:13px; font-weight:bold;}
.lecturer_name{font-family:"함초롬돋움"; font-size:17px; margin-top:5px; font-weight:bolder;}

#lecturer_link{padding-left:20px; padding-right:20px; margin-top:5px; display:flex; justify-content:space-between; display:none;}
#user_link{padding-left:20px; padding-right:20px; margin-top:5px; display:flex;}
#lecturer_link > a{text-decoration:none; color:black; font-family:"함초롬돋움"; font-weight:bold; font-size:14px;}
#user_link > a{text-decoration:none; color:black; font-family:"함초롬돋움"; font-weight:bold; font-size:14px;}

.warning_message{margin-top:12px; font-family:"함초롬돋움"; color:red; font-weight:bold; font-size:14px; display:none;}